<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>cadastrarTipo</servlet-name>
        <servlet-class>servlets.cadastrarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarTipo</servlet-name>
        <servlet-class>servlets.SalvarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipos</servlet-name>
        <servlet-class>servlets.Tipos</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>procurarTipo</servlet-name>
        <servlet-class>servlets.procurarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cursos</servlet-name>
        <servlet-class>servlets.Cursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoCadastrar</servlet-name>
        <servlet-class>servlets.CursoCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoSalvar</servlet-name>
        <servlet-class>servlets.CursoSalvar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoProcurar</servlet-name>
        <servlet-class>servlets.CursoProcurar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoAlterar</servlet-name>
        <servlet-class>servlets.TipoAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoAtualizar</servlet-name>
        <servlet-class>servlets.TipoAtualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Entrar</servlet-name>
        <servlet-class>servlets.Entrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Equipamentos</servlet-name>
        <servlet-class>servlets.Equipamentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoExcluir</servlet-name>
        <servlet-class>servlets.TipoExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoExcluirSim</servlet-name>
        <servlet-class>servlets.TipoExcluirSim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoAlterar</servlet-name>
        <servlet-class>servlets.CursoAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoAtualizar</servlet-name>
        <servlet-class>servlets.CursoAtualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoExcluir</servlet-name>
        <servlet-class>servlets.CursoExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoExcluirSim</servlet-name>
        <servlet-class>servlets.CursoExcluirSim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirEquipamento</servlet-name>
        <servlet-class>servlets.InserirEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipamentoSalvar</servlet-name>
        <servlet-class>servlets.EquipamentoSalvar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipamentoAlterar</servlet-name>
        <servlet-class>servlets.EquipamentoAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipamentoAtualizar</servlet-name>
        <servlet-class>servlets.EquipamentoAtualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipamentoManutencao</servlet-name>
        <servlet-class>servlets.EquipamentoManutencao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipamentoSalvarManutencao</servlet-name>
        <servlet-class>servlets.EquipamentoSalvarManutencao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipamentoProcurar</servlet-name>
        <servlet-class>servlets.EquipamentoProcurar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salas</servlet-name>
        <servlet-class>servlets.Salas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaCadastrar</servlet-name>
        <servlet-class>servlets.SalaCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaSalvar</servlet-name>
        <servlet-class>servlets.SalaSalvar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaAlterar</servlet-name>
        <servlet-class>servlets.SalaAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaAtualizar</servlet-name>
        <servlet-class>servlets.SalaAtualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaExcluir</servlet-name>
        <servlet-class>servlets.SalaExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salaExcluirSim</servlet-name>
        <servlet-class>servlets.salaExcluirSim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaProcurar</servlet-name>
        <servlet-class>servlets.SalaProcurar</servlet-class>
    </servlet>

    <servlet><servlet-name>SecretariaProfessores</servlet-name><servlet-class>servlets.SecretariaProfessores</servlet-class></servlet>
    <servlet>
        <servlet-name>ProfessorCadastrar</servlet-name>
        <servlet-class>servlets.ProfessorCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorSalvar</servlet-name>
        <servlet-class>servlets.ProfessorSalvar</servlet-class>
    </servlet>
    <servlet><servlet-name>ProfessorAlterar</servlet-name><servlet-class>servlets.ProfessorAlterar</servlet-class></servlet>
    <servlet>
        <servlet-name>ProfessorAtualizar</servlet-name>
        <servlet-class>servlets.ProfessorAtualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorExcluir</servlet-name>
        <servlet-class>servlets.ProfessorExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorExcluirSim</servlet-name>
        <servlet-class>servlets.ProfessorExcluirSim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorConsultar</servlet-name>
        <servlet-class>servlets.ProfessorConsultar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorProcurar</servlet-name>
        <servlet-class>servlets.ProfessorProcurar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalasSecretaria</servlet-name>
        <servlet-class>servlets.SalasSecretaria</servlet-class>
    </servlet>
    <servlet><servlet-name>SalaProcurarSecProf</servlet-name><servlet-class>servlets.SalaProcurarSecProf</servlet-class></servlet>
    <servlet>
        <servlet-name>CursosSecProf</servlet-name>
        <servlet-class>servlets.CursosSecProf</servlet-class>
    </servlet>
    <servlet><servlet-name>CursoProcurarSecProf</servlet-name><servlet-class>servlets.CursoProcurarSecProf</servlet-class></servlet><servlet><servlet-name>EquipamentosSecProf</servlet-name><servlet-class>servlets.EquipamentosSecProf</servlet-class></servlet>
    <servlet>
        <servlet-name>EquipamentoProcurarSecProf</servlet-name>
        <servlet-class>servlets.EquipamentoProcurarSecProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaInicialSecretaria</servlet-name>
        <servlet-class>servlets.PaginaInicialSecretaria</servlet-class>
    </servlet>
    <servlet><servlet-name>MeuCadastroSecAudio</servlet-name><servlet-class>servlets.MeuCadastroSecAudio</servlet-class></servlet><servlet><servlet-name>UsuarioAlterar</servlet-name><servlet-class>servlets.UsuarioAlterar</servlet-class></servlet>
    <servlet>
        <servlet-name>UsuarioSalvarSecProf</servlet-name>
        <servlet-class>servlets.UsuarioSalvarSecProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSenha</servlet-name>
        <servlet-class>servlets.AlterarSenha</servlet-class>
    </servlet>
    <servlet><servlet-name>SalvarNovaSenha</servlet-name><servlet-class>servlets.SalvarNovaSenha</servlet-class></servlet>
    <servlet>
        <servlet-name>Logof</servlet-name>
        <servlet-class>servlets.Logof</servlet-class>
    </servlet>
    <servlet><servlet-name>MeuCadastroProf</servlet-name><servlet-class>servlets.MeuCadastroProf</servlet-class></servlet>
    <servlet>
        <servlet-name>MeuUsuarioAlterarProf</servlet-name>
        <servlet-class>servlets.MeuUsuarioAlterarProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitaSenha</servlet-name>
        <servlet-class>servlets.SolicitaSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificaSenha</servlet-name>
        <servlet-class>servlets.VerificaSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSenhaProf</servlet-name>
        <servlet-class>servlets.AlterarSenhaProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarNovaSenhaProf</servlet-name>
        <servlet-class>servlets.SalvarNovaSenhaProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorAlterarDadosProf</servlet-name>
        <servlet-class>servlets.ProfessorAlterarDadosProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agenda</servlet-name>
        <servlet-class>servlets.Agenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompromissoBuscar</servlet-name>
        <servlet-class>servlets.CompromissoBuscar</servlet-class>
    </servlet>
    <servlet><servlet-name>CompromissoSalvar</servlet-name><servlet-class>servlets.CompromissoSalvar</servlet-class></servlet>
    <servlet>
        <servlet-name>CompromissoCadastrar</servlet-name>
        <servlet-class>servlets.CompromissoCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompromissoAlterar</servlet-name>
        <servlet-class>servlets.CompromissoAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompromissoAtualizar</servlet-name>
        <servlet-class>servlets.CompromissoAtualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompromissoExcluir</servlet-name>
        <servlet-class>servlets.CompromissoExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompromissoExcluirSim</servlet-name>
        <servlet-class>servlets.CompromissoExcluirSim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>servlets.Usuarios</servlet-class>
    </servlet>
    <servlet><servlet-name>UsuarioConsultar</servlet-name><servlet-class>servlets.UsuarioConsultar</servlet-class></servlet>
    <servlet>
        <servlet-name>UsuarioAlterarAdmin</servlet-name>
        <servlet-class>servlets.UsuarioAlterarAdmin</servlet-class>
    </servlet>
    <servlet><servlet-name>UsuarioAtualizar</servlet-name><servlet-class>servlets.UsuarioAtualizar</servlet-class></servlet><servlet><servlet-name>UsuarioExcluirAdmin</servlet-name><servlet-class>servlets.UsuarioExcluirAdmin</servlet-class></servlet><servlet><servlet-name>ExcluirUsuarioSim</servlet-name><servlet-class>servlets.ExcluirUsuarioSim</servlet-class></servlet><servlet><servlet-name>UsuarioCadastrar</servlet-name><servlet-class>servlets.UsuarioCadastrar</servlet-class></servlet><servlet><servlet-name>UsuarioSalvar</servlet-name><servlet-class>servlets.UsuarioSalvar</servlet-class></servlet>
    <servlet>
        <servlet-name>UsuarioProcurar</servlet-name>
        <servlet-class>servlets.UsuarioProcurar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReenviarSenha</servlet-name>
        <servlet-class>servlets.ReenviarSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetuarReserva</servlet-name>
        <servlet-class>servlets.EfetuarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarReserva</servlet-name>
        <servlet-class>servlets.SalvarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservasProfessor</servlet-name>
        <servlet-class>servlets.ReservasProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eImportanteSaber</servlet-name>
        <servlet-class>servlets.eImportanteSaber</servlet-class>
    </servlet>
    <servlet><servlet-name>ListaEsperaSim</servlet-name><servlet-class>servlets.ListaEsperaSim</servlet-class></servlet>
    <servlet>
        <servlet-name>ReservasProfessores</servlet-name>
        <servlet-class>servlets.ReservasProfessores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirReservas</servlet-name>
        <servlet-class>servlets.ImprimirReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservaAlterar</servlet-name>
        <servlet-class>servlets.ReservaAlterar</servlet-class>
    </servlet>
    <servlet><servlet-name>AlterarReserva</servlet-name><servlet-class>servlets.AlterarReserva</servlet-class></servlet><servlet><servlet-name>ReservaCancelar</servlet-name><servlet-class>servlets.ReservaCancelar</servlet-class></servlet>
    <servlet>
        <servlet-name>CancelarReserva</servlet-name>
        <servlet-class>servlets.CancelarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetuarReservaExterna</servlet-name>
        <servlet-class>servlets.EfetuarReservaExterna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDeIndisponibilidade</servlet-name>
        <servlet-class>servlets.RelatorioDeIndisponibilidade</servlet-class>
    </servlet>
    <servlet><servlet-name>ImprimirRelatorioIndisponibilidade</servlet-name><servlet-class>servlets.ImprimirRelatorioIndisponibilidade</servlet-class></servlet><servlet-mapping>
        <servlet-name>cadastrarTipo</servlet-name>
        <url-pattern>/cadastrarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarTipo</servlet-name>
        <url-pattern>/SalvarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipos</servlet-name>
        <url-pattern>/tipos</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>procurarTipo</servlet-name>
        <url-pattern>/procurarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cursos</servlet-name>
        <url-pattern>/Cursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoCadastrar</servlet-name>
        <url-pattern>/CursoCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoSalvar</servlet-name>
        <url-pattern>/CursoSalvar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoProcurar</servlet-name>
        <url-pattern>/CursoProcurar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoAlterar</servlet-name>
        <url-pattern>/TipoAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoAtualizar</servlet-name>
        <url-pattern>/TipoAtualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Entrar</servlet-name>
        <url-pattern>/Entrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Equipamentos</servlet-name>
        <url-pattern>/equipamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoExcluir</servlet-name>
        <url-pattern>/TipoExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoExcluirSim</servlet-name>
        <url-pattern>/tipoExcluirSim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoAlterar</servlet-name>
        <url-pattern>/cursoAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoAtualizar</servlet-name>
        <url-pattern>/cursoAtualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoExcluir</servlet-name>
        <url-pattern>/cursoExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoExcluirSim</servlet-name>
        <url-pattern>/cursoExcluirSim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirEquipamento</servlet-name>
        <url-pattern>/InserirEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipamentoSalvar</servlet-name>
        <url-pattern>/EquipamentoSalvar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipamentoAlterar</servlet-name>
        <url-pattern>/EquipamentoAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipamentoAtualizar</servlet-name>
        <url-pattern>/EquipamentoAtualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipamentoManutencao</servlet-name>
        <url-pattern>/EquipamentoManutencao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipamentoSalvarManutencao</servlet-name>
        <url-pattern>/EquipamentoSalvarManutencao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipamentoProcurar</servlet-name>
        <url-pattern>/EquipamentoProcurar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salas</servlet-name>
        <url-pattern>/salas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaCadastrar</servlet-name>
        <url-pattern>/SalaCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaSalvar</servlet-name>
        <url-pattern>/SalaSalvar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaAlterar</servlet-name>
        <url-pattern>/SalaAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaAtualizar</servlet-name>
        <url-pattern>/SalaAtualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaExcluir</servlet-name>
        <url-pattern>/SalaExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salaExcluirSim</servlet-name>
        <url-pattern>/salaExcluirSim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaProcurar</servlet-name>
        <url-pattern>/SalaProcurar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SecretariaProfessores</servlet-name>
        <url-pattern>/secretariaProfessores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorCadastrar</servlet-name>
        <url-pattern>/ProfessorCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorSalvar</servlet-name>
        <url-pattern>/ProfessorSalvar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorAlterar</servlet-name>
        <url-pattern>/professorAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorAtualizar</servlet-name>
        <url-pattern>/ProfessorAtualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorExcluir</servlet-name>
        <url-pattern>/professorExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>ProfessorExcluirSim</servlet-name><url-pattern>/ProfessorExcluirSim</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorConsultar</servlet-name>
        <url-pattern>/ProfessorConsultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorProcurar</servlet-name>
        <url-pattern>/ProfessorProcurar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalasSecretaria</servlet-name>
        <url-pattern>/salasSecretaria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaProcurarSecProf</servlet-name>
        <url-pattern>/SalaProcurarSecProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursosSecProf</servlet-name>
        <url-pattern>/cursosSecProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoProcurarSecProf</servlet-name>
        <url-pattern>/CursoProcurarSecProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipamentosSecProf</servlet-name>
        <url-pattern>/equipamentosSecProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipamentoProcurarSecProf</servlet-name>
        <url-pattern>/EquipamentoProcurarSecProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaInicialSecretaria</servlet-name>
        <url-pattern>/PaginaInicialSecretaria</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>MeuCadastroSecAudio</servlet-name><url-pattern>/meuCadastroSecAudio</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioAlterar</servlet-name>
        <url-pattern>/UsuarioAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioSalvarSecProf</servlet-name>
        <url-pattern>/UsuarioSalvarSecProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSenha</servlet-name>
        <url-pattern>/AlterarSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarNovaSenha</servlet-name>
        <url-pattern>/SalvarNovaSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logof</servlet-name>
        <url-pattern>/logof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeuCadastroProf</servlet-name>
        <url-pattern>/meuCadastroProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeuUsuarioAlterarProf</servlet-name>
        <url-pattern>/MeuUsuarioAlterarProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitaSenha</servlet-name>
        <url-pattern>/SolicitaSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificaSenha</servlet-name>
        <url-pattern>/VerificaSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSenhaProf</servlet-name>
        <url-pattern>/AlterarSenhaProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarNovaSenhaProf</servlet-name>
        <url-pattern>/SalvarNovaSenhaProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorAlterarDadosProf</servlet-name>
        <url-pattern>/ProfessorAlterarDadosProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agenda</servlet-name>
        <url-pattern>/Agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompromissoBuscar</servlet-name>
        <url-pattern>/CompromissoBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompromissoSalvar</servlet-name>
        <url-pattern>/CompromissoSalvar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompromissoCadastrar</servlet-name>
        <url-pattern>/CompromissoCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompromissoAlterar</servlet-name>
        <url-pattern>/CompromissoAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompromissoAtualizar</servlet-name>
        <url-pattern>/CompromissoAtualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>CompromissoExcluir</servlet-name><url-pattern>/CompromissoExcluir</url-pattern></servlet-mapping><servlet-mapping><servlet-name>CompromissoExcluirSim</servlet-name><url-pattern>/CompromissoExcluirSim</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioConsultar</servlet-name>
        <url-pattern>/UsuarioConsultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioAlterarAdmin</servlet-name>
        <url-pattern>/UsuarioAlterarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioAtualizar</servlet-name>
        <url-pattern>/UsuarioAtualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioExcluirAdmin</servlet-name>
        <url-pattern>/UsuarioExcluirAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuarioSim</servlet-name>
        <url-pattern>/ExcluirUsuarioSim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioCadastrar</servlet-name>
        <url-pattern>/UsuarioCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioSalvar</servlet-name>
        <url-pattern>/UsuarioSalvar</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>UsuarioProcurar</servlet-name><url-pattern>/UsuarioProcurar</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReenviarSenha</servlet-name>
        <url-pattern>/ReenviarSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetuarReserva</servlet-name>
        <url-pattern>/EfetuarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarReserva</servlet-name>
        <url-pattern>/SalvarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservasProfessor</servlet-name>
        <url-pattern>/ReservasProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eImportanteSaber</servlet-name>
        <url-pattern>/eImportanteSaber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaEsperaSim</servlet-name>
        <url-pattern>/ListaEsperaSim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservasProfessores</servlet-name>
        <url-pattern>/ReservasProfessores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirReservas</servlet-name>
        <url-pattern>/ImprimirReservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaAlterar</servlet-name>
        <url-pattern>/ReservaAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarReserva</servlet-name>
        <url-pattern>/AlterarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaCancelar</servlet-name>
        <url-pattern>/ReservaCancelar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarReserva</servlet-name>
        <url-pattern>/CancelarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetuarReservaExterna</servlet-name>
        <url-pattern>/EfetuarReservaExterna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDeIndisponibilidade</servlet-name>
        <url-pattern>/RelatorioDeIndisponibilidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirRelatorioIndisponibilidade</servlet-name>
        <url-pattern>/ImprimirRelatorioIndisponibilidade</url-pattern>
    </servlet-mapping>
    <session-config>
          <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
